body { 
    background: linear-gradient(rgb(52, 187, 221), rgb(165, 255, 247)); 
}
.menu{
    display:flex;
    margin: auto;
    max-height: 20px;
    max-width: 520px;
}
main > h1{
    margin-bottom: 5px;
}
.name{
    margin-top: 5px;
}
.title{
    margin-bottom: auto;
}
.syumi > p{
    font-size: 30px;
    margin-top: 10px;
}
.syumi > h2{
    margin-bottom: 10px;
}

li{
    margin-left: auto;
}

.wrapper{
    text-align: center;
}

ul > li{
    font-size: 18px;
}

.back{
    margin-left: 20px;
}

h4.commenter{
    margin-bottom: 1px;
}

p.commentText{
    margin-top: 2px;
}
